
.info-wrap{
  background-color: #333;
  float: left;
}

#dashboard .chart {
  background: #f9f9f9;
  padding: 20px 0;
  border-radius: 3px;
}

#dashboard .chart h5 {
  font-size: 13px;
  font-weight: 400;
  color: rgba(0,0,0,0.7);
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  text-transform: none;
}

#dashboard .row-stats span {
  font-size: 11px;
  letter-spacing: .79;
}

#dashboard .row-stats strong {
  font-size: 40px;
}

#dashboard .row-stats small {
  opacity: .7;
}

#dashboard .stat-box {
  float: left;
  width: 20%;
}

#dashboard .stat-box.stat-box-suspicious, #dashboard .stat-box.stat-box-suspicious strong {
  color: #EB5424;
}

#dashboard .row-stats {
  height: auto;
  border: none;
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 40px 0;
  margin-bottom: 40px;
  box-sizing: content-box;
}

#dashboard .col-widgets h5 {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .86;
  color: #000;
}